/* {
    minion-yellow: #eedd44ff;
    vegas-gold: #c3b047ff;
    pearly-purple: #9c64a6ff;
    maximum-purple: #623671ff;
    smoky-black: #0f0b08ff;
} */
/* .home {
    background-color: #EEDD44;
} */

$border: 1px solid #0f0b08ff;
$phone: 480px;

.input {
    border: $border;
    width: 200px;
    height: 20px;
    // text-align: center;
}

.btn {
    border: $border;
    // background-color: #9C64A6;
    background-color: #623671ff;
    color: #bf7acb;
    height: 30px;
    width: 100px;
}

h2,
h2:visited {
    color: #0f0b08ff;
    align-items: center;
    border-radius: 45%;
    border: 3px solid #623671;
    background-color: #9C64A6;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.home {
    // border: $border;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    max-height: 800px;
    padding: 10px;

    @media screen and (max-width: $phone) {
        width: 100%;
        // align-items: stretch;
        justify-content: space-evenly;
    }

    .gameOptions {
        // border: $border;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 400px;
        width: 100%;
        max-width: 600px;
        min-height: 130px;

        @media screen and (max-width: $phone) {
            flex-direction: column;
            justify-content: space-evenly;
            min-width: 180px;
            min-height: 250px;
            height: 30%;
        }

        p {
            margin: 0;
        }

        h2 {
            margin: 0;
        }

        // .startNewGame {
        //     border: $border;
        // }

        .join {
            // border: $border;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            min-height: 100px;

            .input {
                margin: 4px;
                width: 170px;
            }
        }
    }

    img {
        width: 150px;
    }

    h2 {
        cursor: pointer;
    }

    .btn {
        margin-bottom: 10px;
        width: 120px;
    }

    .modal {
        border: $border;
        height: 20%;
        width: 50%;
        // background: rgb(238, 221, 68, 0.85);
        background: rgb(238, 221, 68);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .btn-group {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                margin: 5px;
            }
        }

    }
}