 .App {
   min-height: 100vh;
   min-width: 100%;
   background: rgb(238, 221, 68);
   background: linear-gradient(180deg,
       rgba(238, 221, 68, 1) 24%,
       rgba(156, 100, 166, 1) 79%,
       rgba(98, 54, 113, 1) 96%);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }