// @mixin card-background {
//     position: relative;
//     // height: 180px;
//     // width: 180px;
//     background-color: white;
//     border-radius: 50%;
//     margin: 0 auto;
//     height: 26vh;
//     width: 26vh;
// }

@mixin scale {
    //card-background and elements' size scaled by 1.15
    width: 195.5px;
    height: 195.5px;

    .card-element {
        width: 46px;
        height: 46px;
    }
}

$black-border: 1px solid black;
$phone: 500px;

.gameInProgress {
    height: 90vh;
    width: 100%;
    // max-width: 1200px;
    // min-height: 130px;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: $phone) {
        min-width: 300px;
    }

    .opponent,
    .deck-of-cards,
    .main-player {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        // .card {}
    }

    .opponent,
    .main-player {
        height: 32%;
        background-color: #9c64a6;

        @media screen and (max-width: $phone) {
            flex-direction: column;
            position: relative;

            .card {
                z-index: 2;
            }
        }

        .name,
        .score {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 140px;
            background-color: #AC7DB5;
            border: $black-border;
            margin: 10px;

            @media screen and (max-width: $phone) {
                height: 30px;
                width: 120px;
                font-size: 12px;
                margin: 5px;
            }
        }

        .mobile-view {
            display: none;
        }

        @media screen and (max-width: $phone) {
            .desktop-view {
                display: none;
            }

            .mobile-view {
                display: flex;
            }
        }

        .mobile-view-group {
            @media screen and (max-width: $phone) {
                // border: 1px solid red;
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: absolute;
            }
        }

    }

    .opponent {
        @media screen and (max-width: $phone) {
            align-items: flex-start;
            padding-top: 10px;

            .mobile-view-group {
                top: 0;
            }
        }
    }

    .main-player {
        @media screen and (max-width: $phone) {
            align-items: flex-end;
            padding-bottom: 10px;

            .mobile-view-group {
                bottom: 0;
            }
        }
    }

    .deck-of-cards {
        height: 36%;
        background-color: yellow;
        z-index: 0;

        .card,
        .card-element {
            transform: scale(1.15);
        }

        .card {
            position: absolute;
            z-index: 10;

            .card-element img {
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .deck-shadow {
            // @include card-background();
            @include scale();
            position: absolute;
            background-color: lightgray;
            border-radius: 50%;
            // border: $black-border;
            height: 26vh;
            width: 26vh;
            transform: scale(1.15) translate(-25px);
            z-index: -1;
        }

        // .deck-shadow {
        //     position: relative;
        //     background-color: lightgray;
        //     // border-radius: 50%;
        //     margin: 0 auto;
        //     height: 30vh;
        //     width: 25%; //zavisno
        //     z-index: 2;
        //     transform: translate(-50%);

        //     @media screen and (max-width: $phone) {
        //         max-width: 25%;
        //     }
        // }

        // .deck-shadow::before{
        //     position: absolute;
        //     content: '';
        //     height: 30vh;
        //     width: 30vh;
        //     background-color: gray;
        //     border-radius: 50%;
        //     z-index: 1;
        //     left: -25%; //zavisno
        // }
    }

}