.game{
    height: 100vh;
    min-width: 200px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    ul {
        margin-top: 0;
    }

    hr {
        border: 0.1px solid #00000073;
    }
}